<h1 style="color:SkyBlue;">Python Basics</h1>

* Python is general-purpose, high-level programming language. <br>
* It supports both function and Object Oriented Programming

In [ ]:
print("Hello World")

<h1 style="color: SkyBlue;">Python Indentation</h1>
<b>Indentation refers to the spaces at the beginning of a code line</b>

In [2]:
if 29 > 11:
    print("29 is greater than 11")
else:
    print("29 is not greater than 11")

29 is greater than 11

In [3]:
if 1 < 2:
    if 29 > 11:
        print("29 is greater than 11")

29 is greater than 11

<h1 style="color: SkyBlue;">Python Comments</h1>
<b>Comments in python can be done by: #</b>

In [7]:
# print("Hello World")

<h1 style="color: SkyBlue;">Python Variables</h1>
<b>Variables are created when you assign a value to it</b>

<h2>Variable Names</h2>

* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number.
* A variable name can only contain alpha-numeric characters and underscores(A-z, 0-9 and _)
* Variable names are case-sensitive(age, Age and AGE are three different variables)
* A variable name cannot be any ot the Python Keywords.

In [8]:
variable = "This is a variable"
print(variable)
dataScience = 1
print(dataScience)

This is a variable
1

In [9]:
x = str(3)
y = int(3)
z = float(3)
print(x, y, z)
print(type(x), type(y), type(z))

3 3 3.0
<class 'str'> <class 'int'> <class 'float'>

<b>You can get the data type of a variable with the type() function</b>

<h2 style="color: SkyBlue">Many Values to Multiple Variables</h2>
<b>Python allows you to assign values to multiple variables in one line</b>

In [10]:
x, y, z ="Orange", "Banana", "Cherry"
print(x, y, z)

Orange Banana Cherry

<b>And you can assign the same values to multiple variables in one line.</b>

In [11]:
x=y=z="Orange"
print(x, y, z)

Orange Orange Orange

<h3>Unpack a Collection</h3>

In [12]:
fruits = ['orange', 'banana', 'cherry']
x,y,z = fruits
print(x)
print(y)
print(z)

orange
banana
cherry

<h3>Output Variable</h3>
<b>print() function is often used to output variables.</b>

In [13]:
x = "Python"
y = " is awesome"
print(x,y)

Python  is awesome

<h1 style="color:SkyBlue">Python Data Types</h1>

<h2>Built in Data Types</h2>
<b>Variables can store data of different types and different types can do different things
.</b>

* Text Type: str
* Numeric Types: int, float, complex
*  Sequence Types: list, tuple, range
* Mapping Type: dict
* Set Types: set, frozenset
* Boolean Type: bool
* Binary Types: bytes, bytearray, memoryview
* None TYpe: NoneType

In [14]:
x = "Hello World"
print(type(x))

x = 20
print(type(x))

x = 20.5
print(type(x))

x = 1j
print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>

In [15]:
x = ["apple", "banana", "cherry"]
print(type(x))
print(x)

<class 'list'>
['apple', 'banana', 'cherry']

In [16]:
x = ("apple", "banana", "cherry")
print(type(x))

<class 'tuple'>

In [18]:
x = range(4)
print(type(x))
for i in range(0,4):
    print(i)

<class 'range'>
0
1
2
3

In [20]:
x= {"name" : "John", "age" : 36}
print(type(x))

<class 'dict'>

In [21]:
x = {"apple", "banana", "cherry"}
print(type(x))

<class 'set'>

In [22]:
x = frozenset({"apple", "banana", "cherry"})
print(type(x))

<class 'frozenset'>

In [23]:
x = True
print(type(x))

<class 'bool'>

In [24]:
x = b"Hello"
print(type(x))

<class 'bytes'>

In [25]:
x = bytearray(5)
print(type(x))

<class 'bytearray'>

In [26]:
x = memoryview(bytes(5))
print(type(x))

<class 'memoryview'>

In [27]:
x = None
print(type(x))

<class 'NoneType'>

In [28]:
a = "Python"
print(type(a))

<class 'str'>

In [31]:
for x in "Data":
    print(x)
a = "Data"
print(len(a))

D
a
t
a
4

In [32]:
txt = "The best things in life are free!"
if("best" in txt):
    print("Yes, 'best' is present")

Yes, 'best' is present

<h3>Slicing Strings</h3>

In [34]:
a = "Data Science"
print(a[2:])
print(a[2:5])
print(a[:-1])

ta Science
ta
Data Scienc

<h3>If Statement</h3>

In [35]:
a = 33
b = 200
if b > a:
    print("b is greater than a")

b is greater than a

<h3>Elif</h3>

In [36]:
a = 33
b = 34

if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")

b is greater than a

<h3>Else</h3>

In [37]:
age = 20
if age > 20:
    print("You are older than 20")
else:
    print("You are younger than 20")

You are younger than 20

<h2>Python Loops</h2>
Python has two primitive loop commands:<br>

* while loops<br>
* for loops

In [38]:
i = 1
while i< 5:
    print(i)
    i += 1

1
2
3
4

<h3>Python For Loops</h3>
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set or a string)

In [39]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [44]:
for i in range(0,6):
    for j in range(0,i):
        print("* ", end="")
    print()

*
* *
* * *
* * * *
* * * * *

<h2>Assignment</h2>

In [45]:
# Finding x is odd or even
x = 18

if x % 2 == 0:
    print("x is even")
else:
    print("x is odd")

x is even

<h2>Python Lists</h2> <br>
* Lists are used to store multiple items in a single variable. <br>
* Lists are one to 4 built-in data types in Python used to store collection of data. <br>
* Lists are created using square brackets. <br>
* can change, add, and remove items in a list.

In [50]:
fruits = ["apple", "banana", "cherry"]
print(fruits)
len(fruits)

# List items can be of any data type
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list4 = ["abc", 34]
print(fruits[0:2])

#  Slicing
print(fruits[1:3])

['apple', 'banana', 'cherry']
['apple', 'banana']
['banana', 'cherry']

<h2>Insert Items</h2>
To insert a new list item, without replacing an of the existirng values, we can use the insert() method.

In [53]:
fruits = ["apple", "banana", "cherry"]
fruits.insert(1, "orange")
print(fruits)

['apple', 'orange', 'banana', 'cherry']

<h3>Append Items</h3>
To add an item to the end of the list, use the append() method

In [54]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

<h3>Extend List</h3>
To append elements from another list to the current list, use the extend() method.

In [56]:
thisList = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thisList.extend(tropical)
print(thisList)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

<h3>Remove Specified Item</h3>
The remove() method removes the specified Item

In [57]:
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [58]:
for x in fruits:
    print(x)

apple
cherry

<h3>List Comprehension</h3>
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [59]:
fruits = ["apple", "banana", "cherry", "orange"]
newList = []
for x in fruits:
    if "a" in x:
        newList.append(x)
print(newList)

['apple', 'banana', 'orange']

<h2>Assignment</h2>

In [62]:
# Program to find the Largest number in a List
a = [10, 20, 4, 45, 99]

a.sort()
print("Largest element is:", a[-1])
print("Largest element is:", max(a))

Largest element is: 99
Largest element is: 99

In [78]:
list1 = []

num = int(input("Enter number of elements in list: "))
for i in range(num):
    elements = int(input("Enter elements: "))
    list1.append(elements)
print("Largest element is:", max(list1))

Largest element is: 4

<b>Tuple</b> <br>
* Tuples are used to store multiple items in a single variable. 
* It is ordered and unchangeable
* Tuples are written with round brackets
* It allows duplicate items

In [72]:
vechile = list(("car", "bus", "bike", "car", 6))
vechile[0]='bike'
vechile=tuple(vechile)
print(vechile)

TypeError: 'list' object is not callable

In [73]:
random = ("car", 12, 34, True)

In [75]:
random

('car', 12, 34, True)

<b>Once a typle is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called </b>

In [76]:
vechile = ("car", "bus", "bike", "car")

In [79]:
x = list(vechile)

TypeError: 'list' object is not callable

<b>Python Sets</b>
* Sets are used to store muliple items in a single variable
* A set is a collection which is unordered, unchangeable and unindexed
* Sets are written with curly brackets

In [80]:
vechile = {"car", "bus", "bike", "car"}
print(type(vechile))
print(vechile)

<class 'set'>
{'bus', 'car', 'bike'}

In [81]:
vechile.add("cycle")
print(vechile)

{'cycle', 'bus', 'car', 'bike'}

<b>To add items from another set into the current set, use the update() method.</b>

In [86]:
thiset = {"apple", "banana", "cherry"}
tropical= {"pineapple", "mango", "papaya"}


thiset.update(tropical)
print(thiset)

{'apple', 'mango', 'cherry', 'pineapple', 'papaya', 'banana'}

In [87]:
thiset.remove("banana")
print(thiset)

{'apple', 'mango', 'cherry', 'pineapple', 'papaya'}

<h2>Python Dictionaries</h2>
* Dictionaries are written with curly brackets and have keys and values. <br>
* Dictionaries are used to store data values in key:value pairs. <br>
* A dictionary is a collection which is ordered, changeable and donot allow duplicates

In [91]:
dic = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

print(dic)
print(dic.keys())
print(dic.values())

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
dict_keys(['brand', 'model', 'year'])
dict_values(['Ford', 'Mustang', 1964])

<h2>Python Functions</h2>
A function is a block of code which only runs when it is called.

In [92]:
def my_function():
    print("Hello from a function")
my_function()

Hello from a function

In [93]:
def add(a,b):
    return a+b
print(add(2,3))

5

In [94]:
def area(radius):
    return 2*3.14*radius

area(5)

31.400000000000002

In [96]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def hello(self):
        print("Hello my name is " + self.name)

p1 = Person("John", 36)
print(p1.name)
p1.hello()

John
Hello my name is John

In [98]:
# Find the factorial of a number using function

num = 5
def recursive_factorial(n):
    if n == 1:
        return n
    else:
        return n*recursive_factorial(n-1)

if num < 0:
    print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    print("The factorial of", num, "is", recursive_factorial(num))

The factorial of 5 is 120

<h2>Exception Handling</h2><br>
When an error occurs, Python will normally stop and generate an error message.<br>
* Errors are the problems in a program due to which the program will stop the executrion.<br>
* There are two types of Error occurs in python. <br>
 1. Syntax errors 2. Logical Error

<h3>Syntax Errors</h3><br>
When the proper syntax of the language is not followed then a syntax error is thrown.

In [1]:
# program to show syntax error

# initialize the amount varaiable
number = 't'
if(number > 1):
    print("This is a positive number")

TypeError: '>' not supported between instances of 'str' and 'int'

<h3>Logical errors(Exception)</h3><br>
When in the runtime an error that occurs after passing the syntax test is called exception or logical type.

In [2]:
marks = 85
a = marks / 0
print(a)

ZeroDivisionError: division by zero

<h3>Error handling with try catch</h3><br>
* Handling Exceptions with Try/Except/Finally<br>
* The try block lets you test a block of code for errors.<br>
* The except block lets you handle the error.<br>
* The else block lets you execute code when there is no error.<br>
* The finally block lets you execute code, regardless of the result of the try and except block

In [3]:
marks = 90
try:
    a = marks / 0
    print(a)
except:
    print("An error occurred")

An error occurred

In [4]:
# Try with Else clause
def divide(x, y):
    try:
        result = x // y
    except ZeroDivisionError:
        print("Sorry! You are dividing by zero")
    else:
        print("The result is:", result)

divide(5, 2)

The result is: 2

In [5]:
# Finally keyword

def divide(x, y):
    try:
        result = x // y
    except ZeroDivisionError:
        print("Sorry! You are dividing by zero")
    else:
        print("The result is:", result)
    finally:
        print("This is always executed")

divide(5, 0)

Sorry! You are dividing by zero
This is always executed

<h2>Local Variable</h2><br>
* Define inside the function<br>
* Local variable are accessible only inside the function

In [6]:
def f():
    s = "This is local variable"
    print(s)
f()

This is local variable

<h2>Global variables</h2>
* Defined outside the function<br>
* Global variables are accessible throughout the program

In [7]:
def check_marks(marks):
    if marks > 40:
        print("pass")
    else:
        print("fail")

all_marks = 23
check_marks(all_marks)
print(all_marks)

fail
23

<h2>File Handling in Python</h2><br>
* Python allows users to handle files i.e, to read and write files, update and delete files<br>
* python treates files as either text or binary<br>
* The key function for working with files in python is the open() function<br>
* The open() function takes two parameters; filename and mode
<br>
i.e open(filename, mode)<br>

There are four different method for opening a file: <br>
<b>"r"</b> - Read - Default value. Open a file for reading, error if the file doesnot exist.

<b>"a"</b> - Append - Opens a file for appending, creates the file if it doesnot exist

<b>"w"</b> - Write - Opens a file for writing, create the file if it doesnot exist

<b>"x"</b> - Create - Create the specified file, returns an error if the file exists

You can specify if the fule should be handled as binary or text mode.

"t" - Text - Default value. Text mode

"b" - Binary - Binary mode (images)

In [17]:
f = open("data/demofile.txt", "x")
f.write("Hello! Welcome to demofile.txt")

30

In [18]:
# Reading from a file
f = open("data/demofile.txt", "r")
print(f.read())
f.close()

Hello! Welcome to demofile.txt

<h2>Delete File</h2>
To delete a file, you must import the OS module and run is os.remove() function

In [16]:
#  Delete a file
import os
os.remove("data/demofile.txt")

<h2>Python Regex</h2>

* A RegEx, or Regular Expression is a sequence of characters that forms a search Pattern<br>
* Python has a built in package called re, which can be used to work with Regular Expression

In [20]:
import re

#  Check if the string starts with "The" and ends with "Spain"

txt = "The rain in Spain"

x = re.search("^The.*Spain$", txt)

if x:
    print("YES! We have a match!")
else:
    print("No match")

# regex to find digit
regex = '\d+'

YES! We have a match!

<h3>Why RegEx?</h3>

* Data mining (best tool for data mining) <br>
    - phone, url, emails, etc <br>

* Data validation (perfectly validate data) <br>
    - validating phone, emails

<!DOCTYPE html>
<html>
<head>
  <title>Metacharacters</title>
</head>
<body>

<table border="1">
  <tr>
    <th>Character</th>
    <th>Description</th>
    <th>Example</th>
  </tr>
  <tr>
    <td>[]</td>
    <td>A set of characters</td>
    <td>"[a-m]"</td>
  </tr>
  <tr>
    <td>\</td>
    <td>Signals a special sequence</td>
    <td>"\d"</td>
  </tr>
    <td>^</td>
    <td>Starts with</td>
    <td>"^hello"</td>
  <tr>

  </tr>
    <td>.</td>
    <td>Any character</td>
    <td>"he..o"	</td>
  <tr>


  </tr>
    <td>*</td>
    <td>Zero or more occurrences</td>
    <td>"he.*o"</td>
  <tr>

  </tr>
    <td>+</td>
    <td>One or more occurrences</td>
    <td>"he.+o"</td>
  <tr>

  </tr>
    <td>?</td>
    <td>Zero or more occurrences</td>
    <td>"he?*o"</td>
  <tr>

  </tr>
    <td>{}</td>
    <td>Exactly the specified number of occurrences	</td>
    <td>"he.{2}o"</td>
  <tr>

  </tr>
    <td>|</td>
    <td>Either or</td>
    <td>"falls|stays"</td>
  <tr>

  </tr>
    <td> dollar sign</td>
    <td>Ends with	</td>
    <td>  "planet$"  </td>
  <tr>
      
  </tr>
</table>

</body>
</html>

In [26]:
import re

txt = "The cost of the item is 10 but I will pay 50"

x = re.findall("[0-9]", txt)
print(x)

x = re.findall("it.m", txt)
print(x)

x = re.findall("^The", txt)
print(x)

['1', '0', '5', '0']
['item']
['The']

<h4> RegEx Functions</h4>

<!DOCTYPE html>
<html>
<head>
  <title>Table Example</title>
</head>
<body>

<table border="1">
  <tr>
    <th>Function</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>findall</td>
    <td>Returns a list containing all matches</td>
  </tr>
  <tr>
    <td>search</td>
    <td>Returns a Match object if there is a match anywhere in the string</td>
  </tr>
  <tr>
    <td>split</td>
    <td>Returns a list where the string has been split at each match</td>
  </tr>
  <tr>
    <td>sub</td>
    <td>Replaces one or many matches with a string</td>
  </tr>
</table>

</body>
</html>

In [27]:
import re

txt = "The rain in Spain"
x = re.search("Spain", txt)
print(x)

<re.Match object; span=(12, 17), match='Spain'>

In [28]:
import re

#Split the string at every white-space character:

txt = "The rain,  in Spain"
x = re.split(",", txt)
print(x)

['The rain', '  in Spain']

In [29]:
import re

txt = "The rain in Spain"
x = re.sub("rain", "  ", txt)
print(x)

The    in Spain